[submodule "builds/cdeck"]
	path = builds/cdeck
	url = https://github.com/keithbbf-gif/cdeck.git
[submodule "builds/cdm"]
	path = builds/cdm
	url = https://github.com/keithbbf-gif/cdm.git
[submodule "builds/sessions-page"]
	path = builds/sessions-page
	url = https://github.com/keithbbf-gif/sessions-page.git
